
<div class="container-fluid bg-info footer py-3 bg-dark">
   <div class="row">
      <div class="col-md-6">
        <h4 class="text white"> Links  </h4>
           <ul>
               
               <li> <a href="#"> Home </a> </li>
               <li> <a href="#"> users  </a> </li>
               <li> <a href="#"> Single users </a> </li>
               <li> <a href="#">  View post </a> </li>
           </ul>
       </div>
       <div class="col-md-6">
        <ul>
            <h4> Links  </h4>
            <li> <a href="#"> Cookies </a> </li>
            <li> <a href="#"> Privacy  </a> </li>
            <li> <a href="#"> Terms & security </a> </li>
            <li> <a href="#">  Confidentiality </a> </li>
        </ul>
    </div>
   </div>
    Copyright - 2021 -Shakuur
</div>
