<div class="container-fluid " style="background-color: #4d5ce2;">
  <p class="display-5 text-white text-center py-3"> All Users</p>
</div>
<div class="container my-5">
 <!-- spinner starts here    -->
 <div class="spinner-grow" role="status" *ngIf="isloading">
  <span class="visually-hidden"></span>
</div>
 <!-- spinner ends here    -->


      <table class="table table-striped">
        <thead class="thead-dark">
          <tr>
            <th scope="col">ID</th>
            <th scope="col">Name</th>
            <th scope="col">Username</th>
            <th scope="col">Email</th>
            <th scope="col">Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr  *ngFor="let user of allusers">
           
            <td> {{ user.id}}  </td>
            <td> {{ user.name}} </td>
            <td>  {{ user.username}} </td>
            <td>  {{ user.email}} </td>
            <td> <a   class="btn btn-md btn-success"   (click)="viewUser(user)">view</a>  </td>
          </tr>
       
      
        </tbody>
      </table>
</div>
